{% extends "base.html" %}
        {% block title %}St. James: About us!{% endblock %}
        {% block content_title %}
        <h2>About St. James Somerville</h2>
        {% endblock %}
        {% block content %}
        <div class="row">
        	<div class="offset2 span8 about">
	        	<p>St. James is a small parish located in West Somerville just outside of Cambridge. Our members include people from many different backgrounds and ethnicities: families with small children; adults who have grown up and married in the parish, and who now have children of their own; singles; retired folks; as well as younger people who find themselves looking for a spiritual home while they attend one of the many nearby academic institutions. Our church is a community, dedicated to providing a neighbor's hospitality and a friend's support to anyone, anywhere on their spiritual journey.</p>

	        	<h3>Can I bring the kids?</h3>
				<p>Children are a vital part of our ministry at St. James. Our Sunday School meets during the first part of the service, after which the children join the rest of the congregation for the celebration of the Holy Eucharist. Children are encouraged to take communion if their parents are so inclined.</p>

				<h3>How about music?</h3>
				<p>We're a parish that loves to sing. Our hymns come from The Hymnal 1982, the standard hymnal in the Episcopal Church, as well as from Lift Every Voice and Sing, a collection that draws upon the rich heritage of African-American hymnody.</p>

				<h3>What can I expect from sermons?</h3>
				<p> Our Priest-in-Residence, Reverend Dr. Karen Coleman, and the various theologically-trained lay-preachers who regularly bring their voices to the pulpit, preach with open minds and open hearts. Through historical context and modern conundrums, their sermons seek to teach and inspire, and to instill curiosity and kindness.</p>

				<h3>I'm not that religious, though...</h3>
				<p>Regardless of where you find yourself on your spiritual journey, all are welcome to come to take Communion at the Lord's table, to lend their voice to . Your presence and participation in our worship would enrich all of us.</p>

				<p>In the name of the Risen Christ, we extend you a warm welcome.</p>
			</div>
		</div>
        {% endblock %}