{% extends "events/base_events.html" %}
{% load i18n %}
{% load markup %}

{% block title %}Events{% endblock %}

{% block content_title %}
  <h2>Events</h2>
{% endblock %}

{% block content %}
    <div class="span2">
        <b>Event quicklinks</b>
        {% for event in object_list %}
        <p><a href="{{ event.get_absolute_url }}" title="{% trans "View this post" %}">{{ event.title }}</a></p>
        {% endfor %}
    </div>
    <div class="span8">
    {% for event in object_list %}
        <div class="row">
            <h3 class="title"><a href="{{ event.self.get_absolute_url }}" title="{% trans "View this post" %}">{{ event.title }}</a></h3>
            <div class="span8">
                {% if event.description %}
                <p>{{ event.description|markdown }}</p>
                {% endif %}
                <h4>Time</h4>
                {% with time=event.event_times.all|first %}
                <p>On {{ time.start.date|date:"l, F j, Y" }}</p>
                <p>{{ time.start.time }} - {{ time.end.time }}</p>
                {% endwith %}
                {% if event.place %}
                <h4>Location</h4>
                <p>{{ event.place }}</p>
                <p>{{ event.place.address }}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}